In [67]:
import numpy as np
import pandas as pd

## 3)Assign it to a variable called chipo.

In [68]:
chipo= pd.read_csv(r"https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter="\t")

In [69]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## 4). See the first 10 entries

In [70]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### 5)What is the number of observations in the dataset?

In [71]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [72]:
chipo.shape[1]

5

 ### step 7.Print the name of all the columns.

In [73]:
chipo.nunique()

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64

 #### Step 8. How is the dataset indexed?

In [74]:
chipo.loc[:,:]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

Step 9. Which was the most ordered item?

In [75]:
chipo["item_name"].max()

'Veggie Soft Tacos'

Step 10. How many items were ordered?

In [76]:
chipo["item_name"].count()

4622

### Step 11. What was the most ordered item in the choice_description column?

In [77]:
chipo["choice_description"].count()

3376

### Step 12. How many items were orderd in total?

In [78]:
chipo["item_name"].value_counts().sum()

4622

### Step 13. Turn the item price into a float

In [80]:
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

In [81]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [100]:
evenue = (chipo['quantity'] * chipo['item_price']).sum() #Revenue = quantity x Average Price of  item Price).
evenue

39237.02

### Step 15. How many orders were made in the period?

In [95]:
d = chipo['order_id'].nunique()
d

1834

### Step 16. What is the average amount per order?

In [101]:
z = evenue/d
z

21.39423118865867

### Step 17. How many different items are sold?

> Indented block

In [42]:
chipo.nunique()

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64